<% if @secrets %>
	<% @secrets.each do |secret| %>
		<div>
			<p><%= secret.content %></p>
			<% unless current_user.secrets_liked.include?(secret) %>
			<form action="/likes" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="secret_id" value="<%= secret.id %>">
				<input type="submit" value="Like">
			</form>
			<% else %>
			<form action="/likes/<%= secret.likes.where(user: current_user).first.id %>" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Unlike">
			</form>
			<% end %>
		</div>
		<p><%= secret.likes.count %> likes</p>
		<% if secret.user == current_user %> 
		<form action="/secrets/<%= secret.id %>" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" name="Delete" value="Delete" id="Delete">
		</form>
		<% end %>
	<% end %>
<% end %>
